<!-- <app-navbar></app-navbar> -->

<div class="toolbar" id="home">
  <span><a href="#home">Home</a></span>
  <span><a href="#about">About</a></span>
  <span><a href="#projects">Projects</a></span>
  <span><a href="#contact">Contact</a></span>
</div>


<div class="container">
  <div>
    <img src="../assets/bitmoji-20190926074334.png" alt="picture">
  </div>
  <div>
    <h1>Jarod Britz</h1>
    <h2>web developer</h2>
  </div>
</div>


<div class="about" id="about">
  <h2>DETERMINED. CURIOUS. TEAM PLAYER.</h2>
  <p>A self-taught, curious individual who's goal is to create high quality code. The team player who values
    collaboration, communication and what is best for the team. Someone who always delivers before deadlines. A junior
    developer looking to constantly improve expertise in web development.</p>
</div>


<div class="projects" id="projects">
  <a href="https://moviesearch-c4f59.firebaseapp.com"><img src="../assets/book.PNG" alt="newsapp"></a>
  <a href="https://jarod-britz.github.io/code4ct/index.html"><img src="../assets/code4ct.PNG" alt="code4ct"></a>
  <a href=""><img src="../assets/logo.jpg" alt="movieapp"></a>
  <p>...and many more to come</p>
</div>


<div class="contact" id="contact">
  <img src="../assets/bitmoji-20190927122330.png" alt="">
  <div class="form">
    <p><input type="text" placeholder="Name"></p>
    <p><input type="text" placeholder="Email"></p>
    <p><input type="text" placeholder="Message"></p>
    <p><button type="submit">Send</button></p>
  </div>
</div>


<div class="footer">
  <i class="fa fa-linkedin" style="font-size:24px"></i>
  <i class="fa fa-github" style="font-size:24px"></i>
  <i class="fa fa-instagram" style="font-size:24px"></i>
</div>

<router-outlet></router-outlet>