/* You can add global styles to this file, and also import other style files */

body{
    text-align: center;
    margin: 0;
    font-family: 'Roboto Slab', serif;
}
html{
    scroll-behavior: smooth;
}
.title img{
    width: 16px;
    height: 16px;
}